@import "bootstrap";
@import "variables";

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Noto+Sans:400,700');

html, body {
    overflow-x: hidden;
    background-color: #ffeeaa;
    font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
}

h1,h2,h3,h4,h5 {
    font-weight: 700;
    font-family: 'IBM Plex Sans', Arial, Helvetica, sans-serif;
}

.page-enter-active, .page-leave-active {
    transition: opacity .1s;
}
.page-enter, .page-leave-to {
    opacity: 0;
}

.row{
    overflow: hidden; 
}

[class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

@import "components/category";
@import "components/pagefooter";
@import "components/spotlight";
@import "components/topmenu";
@import "components/tutorials";
@import "components/contentblock";
@import "components/miner";
