$spotlight-base-color: orangered;
$spotlight-background-color-one: rgba($spotlight-base-color, 1);
$spotlight-background-color-two: rgba(darken($spotlight-base-color, 10%), 1);
$spotlight-background-color-three: rgba(darken($spotlight-base-color, 20%), 1);
$spotlight-background-color-line: rgba(black, 0);
.spotlight {
    position: relative;
    height: calc(60vh);
    background-color: rgba(black, 1);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 40%;

    &:before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        background: linear-gradient(to top, rgba(black, 0.8), rgba(black, 0));
    }
    // &:before {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     right: 0;
    //     bottom: 0;
    //     content: '';
    //     background: -webkit-linear-gradient(60deg, $spotlight-background-color-one 12%, $spotlight-background-color-line 12.5%, $spotlight-background-color-line 87%, $spotlight-background-color-one 87.5%, $spotlight-background-color-one 0), -webkit-linear-gradient(-60deg, $spotlight-background-color-one 12%, $spotlight-background-color-line 12.5%, $spotlight-background-color-line 87%, $spotlight-background-color-one 87.5%, $spotlight-background-color-one 0), -webkit-linear-gradient(60deg, $spotlight-background-color-one 12%, $spotlight-background-color-line 12.5%, $spotlight-background-color-line 87%, $spotlight-background-color-one 87.5%, $spotlight-background-color-one 0), -webkit-linear-gradient(-60deg, $spotlight-background-color-one 12%, $spotlight-background-color-line 12.5%, $spotlight-background-color-line 87%, $spotlight-background-color-one 87.5%, $spotlight-background-color-one 0), -webkit-linear-gradient(30deg, $spotlight-background-color-two 25%, $spotlight-background-color-line 25.5%, $spotlight-background-color-line 75%, $spotlight-background-color-two 75%, $spotlight-background-color-two 0), -webkit-linear-gradient(30deg, $spotlight-background-color-two 25%, $spotlight-background-color-line 25.5%, $spotlight-background-color-line 75%, $spotlight-background-color-two 75%, $spotlight-background-color-two 0), $spotlight-background-color-three;
    //     background: -moz-linear-gradient(30deg, $spotlight-background-color-one 12%, $spotlight-background-color-line 12.5%, $spotlight-background-color-line 87%, $spotlight-background-color-one 87.5%, $spotlight-background-color-one 0), -moz-linear-gradient(150deg, $spotlight-background-color-one 12%, $spotlight-background-color-line 12.5%, $spotlight-background-color-line 87%, $spotlight-background-color-one 87.5%, $spotlight-background-color-one 0), -moz-linear-gradient(30deg, $spotlight-background-color-one 12%, $spotlight-background-color-line 12.5%, $spotlight-background-color-line 87%, $spotlight-background-color-one 87.5%, $spotlight-background-color-one 0), -moz-linear-gradient(150deg, $spotlight-background-color-one 12%, $spotlight-background-color-line 12.5%, $spotlight-background-color-line 87%, $spotlight-background-color-one 87.5%, $spotlight-background-color-one 0), -moz-linear-gradient(60deg, $spotlight-background-color-two 25%, $spotlight-background-color-line 25.5%, $spotlight-background-color-line 75%, $spotlight-background-color-two 75%, $spotlight-background-color-two 0), -moz-linear-gradient(60deg, $spotlight-background-color-two 25%, $spotlight-background-color-line 25.5%, $spotlight-background-color-line 75%, $spotlight-background-color-two 75%, $spotlight-background-color-two 0), $spotlight-background-color-three;
    //     background: linear-gradient(30deg, $spotlight-background-color-one 12%, $spotlight-background-color-line 12.5%, $spotlight-background-color-line 87%, $spotlight-background-color-one 87.5%, $spotlight-background-color-one 0), linear-gradient(150deg, $spotlight-background-color-one 12%, $spotlight-background-color-line 12.5%, $spotlight-background-color-line 87%, $spotlight-background-color-one 87.5%, $spotlight-background-color-one 0), linear-gradient(30deg, $spotlight-background-color-one 12%, $spotlight-background-color-line 12.5%, $spotlight-background-color-line 87%, $spotlight-background-color-one 87.5%, $spotlight-background-color-one 0), linear-gradient(150deg, $spotlight-background-color-one 12%, $spotlight-background-color-line 12.5%, $spotlight-background-color-line 87%, $spotlight-background-color-one 87.5%, $spotlight-background-color-one 0), linear-gradient(60deg, $spotlight-background-color-two 25%, $spotlight-background-color-line 25.5%, $spotlight-background-color-line 75%, $spotlight-background-color-two 75%, $spotlight-background-color-two 0), linear-gradient(60deg, $spotlight-background-color-two 25%, $spotlight-background-color-line 25.5%, $spotlight-background-color-line 75%, $spotlight-background-color-two 75%, $spotlight-background-color-two 0), $spotlight-background-color-three;
    //     background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
    //     -webkit-background-origin: padding-box;
    //     background-origin: padding-box;
    //     -webkit-background-clip: border-box;
    //     background-clip: border-box;
    //     -webkit-background-size: 80px 140px;
    //     background-size: 80px 140px;
    // }
    &__content {
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
    }
    &__headline {
        display: block;
        text-align: center;
        padding: 10px 0;
        margin: 0;
        color: white;
        font-weight: 700;
        font-size: 3rem;
        @include media-breakpoint-down(md) {
            font-size: 2rem;
        }
    }
    &__subline {
        display: block;
        text-align: center;
        padding: 0;
        margin: 0;
        color: white;
        font-size: 1.3rem;
    }
}